@import "./../variables.scss";

.Contact {
  * {
    color: $text-color;
  }
  background: rgb(51, 15, 152);
  background: linear-gradient(
    34deg,
    rgb(19, 5, 57) 0%,
    rgba(19, 3, 60, 0.866) 100%
  );
  &:before {
    background-color: unset;
    display: none !important;
  }

  .row {
    display: flex;
  }
  .Contact-items {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $xs) {
      flex-direction: column;
    }
  }

  .Contact-item {
    display: flex;
    align-items: center;

    & + .Contact-item {
      @media (max-width: $xs) {
        margin-top: 20px;
      }
    }
  }

  .Contact-image {
    margin-right: 10px;
    &,
    & img {
      width: 50px;
    }
  }

  .Contact-bottom {
    margin-top: 0px;
  }
}
